# Ignore heavy datasets
dataset/

# Ignore ROS2 / Colcon build artifacts
aloha_scripts/build/
aloha_scripts/install/
aloha_scripts/log/
.idea
.DS_store
/aloha.egg-info/
/aloha_scripts/.idea/
**/__pycache__**
